POSTGRES_USER=slotuser
POSTGRES_PASSWORD=change_me
POSTGRES_DB=SlotGame
TEST_DB_PASSWORD=change_me
SLOTGAME_TEST_DB_CONNECTION=your_test_db_connection_string_here

JWT_SIGNING_KEY=generate_a_new_random_32plus_char_key
JWT_ISSUER=SlotGame.Api
JWT_AUDIENCE=SlotGame.Client